.custom-overlay {
    color: white;
    padding: 40px 0;
    width: 100%;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(19, 36, 64, 0.8), rgba(19, 36, 64, 0.8)),
                      url('public/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.overlay-content {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.overlay-content h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.overlay-content h2 {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.9;
}