.search-result {
  margin-top: 30px;
}

.result-heading {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #032541; 
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr)); 
  gap: 20px; 
  padding-bottom: 50px;
}

.movie-card {
    position: relative; 
    
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    height: auto; 
}

.movie-card:hover { 
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); 
}

.card-poster {
    width: 100%;
    height: auto; 
    display: block;
}

.card-info {
    padding: 10px;
}

.card-info h4 {
    font-size: 1rem;
    margin: 0 0 5px 0;
    color: #032541;
}

.card-info p {
    font-size: 0.9rem;
    color: #777;
}

.fav-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.fav-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fav-btn.active {
  background-color: rgba(255, 193, 7, 0.9); 
  color: #333; 
}


.loading-msg,
.error-msg,
.initial-msg {
  text-align: center;
  font-size: 1.2rem;
  padding: 40px;
  background-color: #e0f7fa;
  border: 1px solid #b3e5fc;
  border-radius: 8px;
  margin-top: 20px;
  color: #01579b;
}

.error-msg {
  color: #D8000C; 
  background-color: #FFD2D2;
  border-color: #ffaa99;
}