main {
    background-color: #F5F5F5;
    min-height: 100vh; 
    width: 100%; 
}

.filter-background-wrapper {
    background-image: linear-gradient(rgba(19, 36, 64, 0.8), rgba(19, 36, 64, 0.8)), 
                      url('/background.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    width: 100%; 
    
    padding-top: 50px; 
    padding-bottom: 50px; 
    
    margin-bottom: 30px; 
    box-shadow: inset 0 -10px 20px rgba(0, 0, 0, 0.5);
}

.filter-visibility-wrapper {
    transition: max-height 0.7s ease-in-out, opacity 0.5s ease;
    overflow: hidden; 
}

.filter-visibility-wrapper.is-hidden {
    max-height: 0; 
    opacity: 0;
    margin-bottom: 0 !important; 
    padding: 0;
}

.filter-visibility-wrapper.is-visible {
    max-height: 1000px; 
    opacity: 1;
}
